<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/ForSite/css/StyleSheet.css">
    <link rel="shortcut icon" href="~/ForSite/img/Icon2 (1).svg" type="image/x-icon">
    <title>Assistant</title>
</head>
<body id="Home">
    <div class="nav">
        <div class="Menu">
            <ul>
                <li><a draggable="false" href="#Home">Главная</a></li>
                <li><a draggable="false" href="#Instruction">Инстрyкция</a></li>
                <li><a draggable="false" href="#Download">Скачать</a></li>
            </ul>
            <a href="   " draggable="false" class="Udovychenko">Udovychenko </a>
            <img draggable="false" class="logoimg" src="~/ForSite/img/Icon2 (1).svg">
        </div>
    </div>
    <div class="About triger">

        <ul>
            <li class="AboutWhat"><b>О чем приложение?</b></li>
            <li>Это небольшое решение для </li>
            <li>удаленного управления вашим компьютером</li>
        </ul>
    </div>
    <div class="Backgray">
        <div class="Content">
            <div id="Instruction" class="Instruction">
                <div class="Before triger">
                    <ul>
                        <li>Сначала получите приложение</li>
                        <li>для вашего ассистента снизу этой страницы по ссылке</li>
                        <li>после чего предоставите доступ к вашим данным, а именно вашу почту</li>
                    </ul>
                </div>
                <div class="FirstInst triger">

                    <ul class="FirstText">
                        <li>Далее чтобы начать пользоваться достаточно</li>
                        <li>скачать на ваш компьютер на операционной</li>
                        <li>системе Windows приложение и открыть его.</li>
                    </ul>
                    <img draggable="false" src="~/ForSite/img/image 1.png">
                </div>
                <div class="SecondInst triger">
                    <img draggable="false" src="~/ForSite/img/image2.png">
                    <ul class="SecondText">
                        <li>Введите ваш email c которым</li>
                        <li>вы заходили в ассистент и нажмите Enter</li>
                    </ul>
                </div>
                <div class="Begin triger" style="padding-bottom: 30px;">
                    <ul>
                        <li>После чего вы можете использовать</li>
                        <li>ваш Google assistant для управления компьютером</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="Download" class="Download triger">
        <h1>Загрузите приложение и добавьте команды в Google assistant</h1>
        <div>
            <a draggable="false" href="~/ForSite/Download/Udovychenko.rar" download>
                <img class="ForDesktopV2" draggable="false" src="~/ForSite/img/ForDesktopV2.svg" alt="Завантажити файл">
            </a>
            <a draggable="false" href="https://google.com">
                <img class="ForPhoneV2 " draggable="false" src="~/ForSite/img/ForPhoneV2.svg" alt="Завантажити файл">
            </a>
        </div>
    </div>
    <script src="~/ForSite/js/site.js"></script>
</body>
</html>
